/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  width: 100%;
  margin: 0;
}

#bm {
  width: 100%;
  height: 300px;
}

@keyframes lines {
	0%{background-position: 0 0;}
	100%{background-position: 0 -1000px;}
}

@keyframes lineshorizontal {
	0%{background-position: 0 0;}
	100%{background-position: -1000px 0;}
}

@keyframes showLineByLine {
	100% {
		opacity: 1;
	}
}

.container {
	height: 100%;
	font-family: "Spectral";
	background-color: #230544;
	background-image: url(../images/background2.png);
	background-size: cover;
	animation: lines 10s linear infinite;
	iframe {
		display: none;
	}
	p,
	label,
	input,
	a {
		font-size: 15px;
		margin-top: 35px;
		line-height: 20px;
		padding: 0 20px;
		color: #ffffff;
		font-family: "Roboto", sans-serif;
		font-weight: 300;
	}

	.intro {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 0 50px;
		color: #ffffff;
		width: 540px;
		height: 540px;
		border-radius: 50%;
		margin-top: 70px;
	}

	&.poetry {
		background-color: #015568;
		background-image: none;
		color: #f2dcf7;
		.intro {
			width: 740px;
			a {
				margin-top: 105px;
			}
		}
		span {
			font-size: 120px;
			color: #99c0c6;
			opacity: 0.5;
			font-weight: bold;
			position: relative;
			top: 55px;
		}
		h1,
		h2 {
			color: #f2dcf7;
		}
		h1 {
			font-size: 75px;
    		font-weight: 700;
    		z-index: 1;
		}
		h2 {
			font-size: 25px;
			letter-spacing: 1.2px;
		    font-weight: normal;
		    margin-top: 40px;
		    font-family: "Roboto";
		    text-transform: uppercase;
		}

		.poem {
			display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
			p {
				font-family: "Spectral";
				font-size: 20px;
				line-height: 25px;
				margin: 200px 0;
			}

			.part {
				height: 150vh;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					max-width: 100%;
				}

				&.part1 {
					margin-top: 100px;
					img:last-child {
						-moz-transform: scaleX(-1);
				        -o-transform: scaleX(-1);
				        -webkit-transform: scaleX(-1);
				        transform: scaleX(-1);
				        filter: FlipH;
				        -ms-filter: "FlipH";
					}
				}

				&.part3 {
					img:first-child {
						-moz-transform: scaleX(-1);
				        -o-transform: scaleX(-1);
				        -webkit-transform: scaleX(-1);
				        transform: scaleX(-1);
				        filter: FlipH;
				        -ms-filter: "FlipH";
					}
				}


				&.part2 {
					flex-direction: column;
					img:last-child {
						-moz-transform: scale(-1, -1);
				        -o-transform: scale(-1, -1);
				        -webkit-transform: scale(-1, -1);
				        transform: scale(-1, -1);
				        filter: FlipV;
				        -ms-filter: "FlipV";
					}
				}

				li {
					opacity: 0;
					font-family: "Spectral";
					font-size: 20px;
					line-height: 27px;
					color: #f2dcf7;
				}

				&.show li {
					animation: showLineByLine 2.5s ease forwards;
				}

				&.show li:nth-child(2) {
					animation-delay: 2.5s;
				}

				&.show li:nth-child(3) {
					animation-delay: 4.8s;
				}

				&.show li:nth-child(4) {
					animation-delay: 6.5s;
				}
			}
		}
	}

	&.chapter2 {
		background-color: #001e4f;
		.chapter {
			background-color: #001e4f;
		}
		.poems-nav {
			display: flex;
		}
	}

	&.chapter3 {
		background-color: #26073d;
		.chapter {
			background-color: #26073d;
		}
	}

	nav {
    	width: 73%;
    	margin: 0 auto;
    	//padding: 0 0 100px;
	}
	/*nav:first-of-type {
		position: fixed;
		bottom: -40px;
		left: 13%;
		margin: 0;
		padding: 0;
	}*/

	.horizontal-menu {
		border-bottom: 1px solid #99c0c6;
		display: flex;
    	justify-content: space-between;
    	margin: 70px auto;
    	position: relative;
		li {
			display: inline-block;
			margin: 0 -70px;
			a {
				text-decoration: none;
				opacity: 0;
				font-size: 12px;
				position: relative;
    			padding: 50px 0;
			}
			&:after {
				content: "";
				width: 10px;
				height: 10px;
				background-color: #99c0c6;
				display: block;
				border-radius: 50%;
				position: absolute;
				top: 47px;
				left: 0;
			}
			&:first-child {
				&.active {
					&:before {
						left: 70px;
					}
				}
			}
			&:nth-child(2) {
				&:after {
					left: 20%;
				}
			}
			&:nth-child(3) {
				&:after {
					left: 40%;
				}
				&.active {
					&:before {
						left: 74px;
						background-color: #001e4f;
					}
				}
			}
			&:nth-child(4) {
				&:after {
					left: 60%;
				}
			}
			&:nth-child(5) {
				&:after {
					left: 80%;
				}
			}
			&:nth-child(6) {
				&:after {
					left: 100%;
				}
				&.active {
					&:before {
						left: 66px;
						background-color: #26073d;
					}
				}
			}
		}
		.active {
			a {
				opacity: 1;
				top: -30px;
			}

			&:after {
				content: "";
				width: 10px;
				height: 10px;
				background-color: #99c0c6;
				display: block;
				border-radius: 50%;
				position: absolute;
				top: 46px;
				left: 11px;
			}

			&:before {
				content: "";
				width: 30px;
				height: 30px;
				border: 1px solid #99c0c6;
				background-color: #015568;
				border-radius: 50%;
				display: block;
				top: 35px;
				position: relative;
			}
		}

		&:hover {
			a {
				opacity: 1;
			}
		}
	}

	form {
		display: flex;
		flex-direction: column;
	}

	label {
		padding: 0 40px;
		margin: 35px 0;
	}

	input[type="text"] {
		background-color: transparent;
		border: none;
		width: 380px;
		background: url(../images/bg-form.png) no-repeat;
    	background-position: bottom;
    	margin: 0 auto;
    	font-style: italic;
    	text-align: center;
    	&:focus {
    		outline: 0;
    	}
	}

	.ignore,
	.back-home,
	.start-reading {
		font-size: 12px;
		height: 48px;
		width: 174px;
	}

	.start-reading {
		background: url(../images/button.png) center no-repeat;
		display: flex;
	    align-items: center;
	    justify-content: center;
	    text-transform: uppercase;
	    text-decoration: none
	}
}

.sound {
	background: url(../images/sound.png) no-repeat;
	width: 30px;
	height: 30px;
	position: fixed;
	top: 60px;
	left: 90%;
	background-size: contain;
	opacity: 0.8;
	padding: 0;
}

.sound {
	&.pause {
		background: url(../images/no-sound.png) no-repeat;
		background-size: contain;
	}
}

.chapter {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 100%;
	background-color: #015568;
	background-image: url(../images/background31.png);
	animation: lineshorizontal 20s linear infinite;
	background-size: cover;
	height: 100vh;
}

.home {
	background: url(../images/bg-logo.png) no-repeat;
    background-position: center;
	background-size: contain;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 100%;

	h1 {
		text-transform: uppercase;
		font-size: 28px;
		font-weight: 600;
	}
	a {
		text-decoration: none;
		color: #ffffff;
	}
	h2,
	p,
	small,
	label {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
	}
	h2 {
		font-size: 18px;
	}
	small {
		font-size: 9px;
		margin: 15px 0 35px;
	}
	img {
		margin-bottom: 20px;
	}
}

.guestbook {
	background: url(../images/bg-logo.png) no-repeat;
    background-position: center;
	background-size: contain;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 1000px;
}

.next {
	background: url(../images/nav-btn.png) no-repeat;
	background-position: center;
	height: 50px;
	width: 50px;
	display: block;
}

.next.top {
	transform: rotate(180deg);
}

.next.left {
	transform: rotate(270deg);
}

.next.right {
	transform: rotate(90deg);
}

.tooltip {
	display: inline-block;
    position: relative;
    background: url(../images/bg-tooltip.png) no-repeat;
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    left: 5px;
    background-size: contain;
}

.tooltip .right {
    min-width:300px;
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding: 8px;
    color:#ffffff;
    background-color:#130b28;
    font-weight:normal;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.3);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
    p {
    	font-size:11px;
    	line-height: 16px;
    	margin: 0;
    }
}

.tooltip:hover .right {
    visibility:visible; opacity:1;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#130b28;
    box-shadow:0 1px 8px rgba(0,0,0,0.3);
}

.main-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0 70px;
	a:not(.back-home) {
		width: 46px;
		height: 48px;
		display: inline-block;
		margin: 0;
		padding: 0 8px;
	}
	.fb {
		background: url(../images/fb.png) no-repeat center;
		background-size: contain;
	}
	.tw {
		background: url(../images/tw.png) no-repeat center;
		background-size: contain;
	}
	.wpp {
		background: url(../images/wpp.png) no-repeat center;
		background-size: contain;
	}
}

.container .hidden {
	display: none;
}

// bio
.bio-body {
  background: #230544;
  color: #ffffff;
  font-family: Roboto, sans-serif;

  .menu {
    display: flex;
    margin-top: 40px;
  }

  .menu a {
    font-size: 14px;
    font-weight: 300;
    margin-right: 30px;
  }

  a {
    color: #ffffff;
  }

  .main-title,
  .year-info-number {
    font-family: Spectral, serif;
    font-size: 65px;
    font-weight: bold;
  }

  .main-title.part-2 {
    margin-top: 15px;
  }

  .years-info {
    display: flex;
    position: relative;
    top: 94px;
  }

  .bio-introduce {
    float: left;
    padding: 50px;
    margin-right: 730px;

    .main-title.part-2,
    p,
    .menu {
      margin-left: 95px;
    }

    img {
      margin-left: 100px;
    }
  }

  .year-info {
    flex: 0 0 600px;
    padding: 20px 120px;
    box-sizing: border-box;
    position: relative;

    .flex-container {
      display: flex;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .year-info-number {
      position: absolute;
      transform: rotate(270deg);
      top: 60px;
      left: 0;
    }

    .info-image {
      margin-top: 70px;
    }

    .info-link {
      margin-top: 100px;

      a {
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-right: 15px;
      }

      .ler-o-moleque {
        background: url(../images/bg-ler-o-moleque.png);
        width: 182px;
        height: 48px;
      }

      .ler-tropos-e-fantasias {
        background: url(../images/bg-ler-tropos-e-fantasias.png);
        width: 247px;
        height: 48px;
      }

      .ler-missais {
        background: url(../images/bg-ler-missais.png);
        width: 155px;
        height: 48px;
      }

      .ler-broqueis {
        background: url(../images/bg-ler-broqueis.png);
        width: 167px;
        height: 48px;
      }

      .ler-farois {
        background: url(../images/bg-ler-farois.png);
        width: 155px;
        height: 48px;
      }

      .ler-ultimos-sonetos {
        background: url(../images/bg-ler-ultimos-sonetos.png);
        width: 238px;
        height: 48px;
      }
    }
  }

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
  }

  .year-info-title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .timeline {
    background: url(../images/bg-timeline.png);
    width: 5189px;
    height: 31px;
    position: absolute;
    top: 390px;
    left: -225px;
  }
}

video {
  filter: contrast(90%);
}
