/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  width: 100%;
  margin: 0;
}

#bm {
  width: 100%;
  height: 300px;
}

@keyframes lines {
	0%{background-position: 0 0;}
	100%{background-position: 0 -1000px;}
}

@keyframes lineshorizontal {
	0%{background-position: 0 0;}
	100%{background-position: -1000px 0;}
}

@keyframes showLineByLine {
	100% {
		opacity: 1;
	}
}

.info-link {
	a {
		-webkit-transform: perspective(1px) translateZ(0);
	    transform: perspective(1px) translateZ(0);
	    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	    position: relative;
	    -webkit-transition-duration: 0.3s;
	    transition-duration: 0.3s;
	    -webkit-transition-property: transform;
	    transition-property: transform;
	    &:before {
	    	pointer-events: none;
		    position: absolute;
		    z-index: -1;
		    content: '';
		    top: 100%;
		    left: 5%;
		    height: 10px;
		    width: 90%;
		    opacity: 0;
		    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
		    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
		    -webkit-transition-duration: 0.3s;
		    transition-duration: 0.3s;
		    -webkit-transition-property: transform, opacity;
		    transition-property: transform, opacity;
	    }
	    &:hover {
	    	-webkit-transform: translateY(-5px);
			transform: translateY(-5px);
			&:before {
				opacity: 1;
			    -webkit-transform: translateY(5px);
			    transform: translateY(5px);
			}
		}
	}
}

.container {
	height: 100%;
	font-family: "Spectral";
	background-color: #230544;
	background-image: url(../images/background2.png);
	background-size: cover;
	animation: lines 10s linear infinite;
	iframe {
		display: none;
	}
	p,
	label,
	input,
	a {
		font-size: 15px;
		margin-top: 35px;
		line-height: 20px;
		padding: 0 20px;
		color: #ffffff;
		font-family: "Roboto", sans-serif;
		font-weight: 300;
	}

	.intro {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 0 50px;
		color: #ffffff;
		width: 540px;
		height: 540px;
		border-radius: 50%;
		margin-top: 70px;
	}

	&.poetry {
		background-color: #015568;
		background-image: none;
		color: #f2dcf7;
		.intro {
			width: 740px;
		}
		span {
			font-size: 120px;
			color: #99c0c6;
			opacity: 0.5;
			font-weight: bold;
			position: relative;
			top: 55px;
		}
		h1,
		h2 {
			color: #f2dcf7;
		}
		h1 {
			font-size: 75px;
    		font-weight: 700;
    		z-index: 1;
		}
		h2 {
			font-size: 25px;
			letter-spacing: 1.2px;
		    font-weight: normal;
		    margin-top: 40px;
		    font-family: "Roboto";
		    text-transform: uppercase;
		}

		.poem {
			display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
			p {
				font-family: "Spectral";
				font-size: 20px;
				line-height: 25px;
				margin: 200px 0;
			}

			.part {
				height: 150vh;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					max-width: 100%;
				}

				&.part1 {
					margin-top: 100px;
				}

				&.part3 {
					justify-content: space-between;
					.jsgif:first-child {
						-moz-transform: scaleX(-1);
				        -o-transform: scaleX(-1);
				        -webkit-transform: scaleX(-1);
				        transform: scaleX(-1);
				        filter: FlipH;
				        -ms-filter: "FlipH";
					}
				}

				&.part4 {
					flex-direction: column;
				}

				li {
					opacity: 0;
					font-family: "Spectral";
					font-size: 20px;
					line-height: 27px;
					color: #f2dcf7;
				}

				&.show li {
					animation: showLineByLine 2.5s ease forwards;
				}

				&.show li:nth-child(2) {
					animation-delay: 2.5s;
				}

				&.show li:nth-child(3) {
					animation-delay: 4.8s;
				}

				&.show li:nth-child(4) {
					animation-delay: 6.5s;
				}
			}
		}
	}

	&.chapter1 {
		.poem1 {
			.part1 {
				display: flex;
    			justify-content: space-between;
				.jsgif:last-child {
					-moz-transform: scaleX(-1);
			        -o-transform: scaleX(-1);
			        -webkit-transform: scaleX(-1);
			        transform: scaleX(-1);
			        filter: FlipH;
			        -ms-filter: "FlipH";
				}
			}
			.part2 {
				flex-direction: column;
				justify-content: space-around;
				> div {
					display: flex;
					width: 100%;
					justify-content: center;
				}
				> div:last-child {
					-moz-transform: scale(-1, -1);
			        -o-transform: scale(-1, -1);
			        -webkit-transform: scale(-1, -1);
			        transform: scale(-1, -1);
			        filter: FlipV;
			        -ms-filter: "FlipV";
				}
			}
		}
	}

	&.chapter2 {
		background-color: #001e4f;
		.chapter {
			background-color: #001e4f;
		}
		.poems-nav {
			display: flex;
			justify-content: center;
		}
		.part1 {
		    display: flex;
    		flex-direction: column;
			> div {
				display: flex;
			}
		}
		.part2 {
			flex-direction: column;
			margin-top: 400px;
			ul {
				background: #001e4f;
				z-index: 99;
			}
			.jsgif {
				position: relative;
    			top: -200px;
			}
		}
		.part3 {
			flex-direction: column;
			margin-top: 400px;
			justify-content: center;
			> div {
				width: 100%;
			    height: 386px;
			    display: flex;
			    justify-content: center;
			    overflow: hidden;
			} 
		}
	}

	&.chapter3 {
		background-color: #26073d;
		.chapter {
			background-color: #26073d;
		}
		.share-timeline {
			text-align: center;
		}
		.info-link {
			display: flex;
			justify-content: center;
			.bio,
			.timeline {
			    background: url(../images/bg-ler-tropos-e-fantasias.png) no-repeat;
			    width: 247px;
			    height: 48px;
			    font-weight: 500;
			    font-size: 11px;
			    text-transform: uppercase;
			    text-decoration: none;
			    letter-spacing: 2px;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    margin-right: 15px;
			    padding: 0;
			}
		}
		.part1,
		.part2,
		.part3 {
			margin-top: 200px;
			flex-direction: column;
		}
	}

	nav {
    	width: 73%;
    	margin: 0 auto;
    	//padding: 0 0 100px;
	}
	/*nav:first-of-type {
		position: fixed;
		bottom: -40px;
		left: 13%;
		margin: 0;
		padding: 0;
	}*/

	.horizontal-menu {
		border-bottom: 1px solid #99c0c6;
		display: flex;
    	justify-content: space-between;
    	margin: 70px auto;
    	position: relative;
		li {
			display: inline-block;
			margin: 0 -70px;
			a {
				text-decoration: none;
				opacity: 0;
				font-size: 12px;
				position: relative;
    			padding: 50px 0;
			}
			&:after {
				content: "";
				width: 10px;
				height: 10px;
				background-color: #99c0c6;
				display: block;
				border-radius: 50%;
				position: absolute;
				top: 47px;
				left: 0;
			}
			&:first-child {
				&.active {
					&:before {
						left: 70px;
					}
				}
			}
			&:nth-child(2) {
				&:after {
					left: 20%;
				}
			}
			&:nth-child(3) {
				&:after {
					left: 40%;
				}
				&.active {
					&:before {
						left: 74px;
						background-color: #001e4f;
					}
				}
			}
			&:nth-child(4) {
				&:after {
					left: 60%;
				}
			}
			&:nth-child(5) {
				&:after {
					left: 80%;
				}
			}
			&:nth-child(6) {
				&:after {
					left: 100%;
				}
				&.active {
					&:before {
						left: 66px;
						background-color: #26073d;
					}
				}
			}
		}
		.active {
			a {
				opacity: 1;
				top: -30px;
			}

			&:after {
				content: "";
				width: 10px;
				height: 10px;
				background-color: #99c0c6;
				display: block;
				border-radius: 50%;
				position: absolute;
				top: 46px;
				left: 11px;
			}

			&:before {
				content: "";
				width: 30px;
				height: 30px;
				border: 1px solid #99c0c6;
				background-color: #015568;
				border-radius: 50%;
				display: block;
				top: 35px;
				position: relative;
			}
		}

		&:hover {
			a {
				opacity: 1;
			}
		}
	}

	form {
		display: flex;
		flex-direction: column;
	}

	label {
		padding: 0 40px;
		margin: 35px 0;
	}

	input[type="text"] {
		background-color: transparent;
		border: none;
		width: 380px;
		background: url(../images/bg-form.png) no-repeat;
    	background-position: bottom;
    	margin: 0 auto;
    	font-style: italic;
    	text-align: center;
    	&:focus {
    		outline: 0;
    	}
	}

	.ignore,
	.back-home,
	.start-reading {
		font-size: 12px;
		height: 48px;
		width: 174px;
	}

	.start-reading {
		background: url(../images/button.png) center no-repeat;
		display: flex;
	    align-items: center;
	    justify-content: center;
	    text-transform: uppercase;
	    text-decoration: none
	}
}

.sound {
	background: url(../images/sound.png) no-repeat;
	width: 30px;
	height: 30px;
	position: fixed;
	top: 60px;
	left: 90%;
	background-size: contain;
	opacity: 0.8;
	padding: 0;
	cursor: pointer;
	z-index: 99;
}

.sound {
	&.muted {
		background: url(../images/no-sound.png) no-repeat;
		background-size: contain;
	}
}

.chapter {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 100%;
	background-color: #015568;
	background-image: url(../images/background31.png);
	animation: lineshorizontal 20s linear infinite;
	background-size: cover;
	height: 100vh;
}

.home {
	background: url(../images/bg-logo.png) no-repeat;
    background-position: center;
	background-size: contain;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 100%;

	h1 {
		text-transform: uppercase;
		font-size: 28px;
		font-weight: 600;
	}
	a {
		text-decoration: none;
		color: #ffffff;
	}
	h2,
	p,
	small,
	label {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
	}
	h2 {
		font-size: 18px;
	}
	small {
		font-size: 9px;
		margin: 15px 0 35px;
	}
	img {
		margin-bottom: 20px;
	}
}

.guestbook {
	background: url(../images/bg-logo.png) no-repeat;
    background-position: center;
	background-size: contain;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 1000px;
}

.next {
	background: url(../images/nav-btn.png) no-repeat;
	background-position: center;
	height: 50px;
	width: 50px;
	display: block;
}

.next.top {
	transform: rotate(180deg);
}

.next.left {
	transform: rotate(270deg);
}

.next.right {
	transform: rotate(90deg);
}

.tooltip {
	display: inline-block;
    position: relative;
    background: url(../images/bg-tooltip.png) no-repeat;
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    left: 5px;
    background-size: contain;
}

.tooltip .right,
.more-info.right {
    min-width:300px;
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding: 8px;
    color:#ffffff;
    background-color:#130b28;
    font-weight:normal;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.3);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
    p {
    	font-size:11px;
    	line-height: 16px;
    	margin: 0;
    }
}

.tooltip:hover .right {
    visibility:visible; opacity:1;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#130b28;
    box-shadow:0 1px 8px rgba(0,0,0,0.3);
}

.main-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0 70px;
	a:not(.back-home) {
		width: 46px;
		height: 48px;
		display: inline-block;
		margin: 0;
		padding: 0 8px;
	}
	.fb {
		background: url(../images/fb.png) no-repeat center;
		background-size: contain;
	}
	.tw {
		background: url(../images/tw.png) no-repeat center;
		background-size: contain;
	}
	.wpp {
		background: url(../images/wpp.png) no-repeat center;
		background-size: contain;
	}
}

.container .hidden {
	display: none;
}

// bio
.bio-body {
  background: #230544;
  color: #ffffff;
  font-family: Roboto, sans-serif;

  .sound {
  	margin-top: -35px;
  }

  .menu {
    display: flex;
    margin-top: 40px;
  }

  .menu a {
    font-size: 14px;
    font-weight: 300;
    margin-right: 30px;
  }

  a {
    color: #ffffff;
  }

  .main-title,
  .year-info-number {
    font-family: Spectral, serif;
    font-size: 65px;
    font-weight: bold;
  }

  .main-title.part-2 {
    margin-top: 15px;
  }

  .years-info {
    display: flex;
    position: relative;
    top: 70px;
  }

  .bio-introduce {
    float: left;
    padding: 50px;
    margin-right: 730px;

    .main-title.part-2,
    p,
    .menu {
      margin-left: 95px;
    }

    img {
      margin-left: 100px;
    }
  }

  .year-info {
    flex: 0 0 600px;
    padding: 20px 120px 60px 120px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .flex-container {
      display: flex;
    }

    img {
	    max-width: 130%;
	    left: -20%;
	    height: auto;
	    position: relative;
    }

    .year-info-number {
      position: absolute;
      transform: rotate(270deg);
      top: 60px;
      left: 0;
    }

    .info-image {
      margin-top: 90px;
    }

    .info-link {
	    top: -75px;
	    position: relative;
      a {
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-right: 15px;
      }

      .ler-o-moleque {
        background: url(../images/bg-ler-o-moleque.png);
        width: 182px;
        height: 48px;
      }

      .ler-tropos-e-fantasias {
        background: url(../images/bg-ler-tropos-e-fantasias.png);
        width: 247px;
        height: 48px;
      }

      .ler-missais {
        background: url(../images/bg-ler-missais.png);
        width: 155px;
        height: 48px;
      }

      .ler-broqueis {
        background: url(../images/bg-ler-broqueis.png);
        width: 167px;
        height: 48px;
      }

      .ler-farois {
        background: url(../images/bg-ler-farois.png);
        width: 155px;
        height: 48px;
      }

      .ler-ultimos-sonetos {
        background: url(../images/bg-ler-ultimos-sonetos.png);
        width: 238px;
        height: 48px;
      }
    }
  }

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
  }

  .year-info-title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .timeline {
    background: url(../images/bg-timeline.png);
    width: 5189px;
    height: 31px;
    position: absolute;
    top: 390px;
    left: -225px;
  }
}
//timeline

.timeline-body {
	overflow: hidden;
	 .container {
	  	background-image: url(../images/timeline.png);
		background-repeat: no-repeat;
	    animation: none;
	    display: flex;
	    height: 100vh;
	    background-position: 300px 35px;
	    background-size: 85%;
	}

	 .sound {
	 	margin: 35px;
	}

	.bio-introduce {
	 	margin: 0;
	 	padding: 90px 50px;

	 	.main-title.part-2 {
	 		&:before {
			    content: "";
			    height: 20px;
			    width: 130px;
			    background: url(../images/bg-timeline-title.png) no-repeat;
			    display: block;
			    background-position: center;
			    background-origin: content-box;
			    position: absolute;
			    left: 0;
			    margin-top: 27px;
	 		}
	 	}
	}

	.main-timeline {
		flex: 1;
		padding-top: 150px;
	}

	@keyframes pulse {
	  0% {
	    transform: scale(1);
	  }
	  100% {
	    transform: scale(1.2);
	  }
	}
	@keyframes move {
	  0% {
	    transform: translate(2px, 2px);
	  }
	  100% {
	    transform: translate(0, 0);
	  }
	}

	.user {
		cursor: pointer;
		background: #60D3CC;
		opacity: 0.6;
		border-radius: 50%;
		margin: 20px 30px;
		position: relative;
		-webkit-box-shadow: 10px 10px 156px 13px rgba(255,255,255,1);
		-moz-box-shadow: 10px 10px 156px 13px rgba(255,255,255,1);
		box-shadow: 10px 10px 156px 13px rgba(255,255,255,1);
		animation: pulse 1s ease infinite alternate;
		animation: move 1s ease infinite alternate;
		&:hover {
			animation: none;
			opacity: 0.9;
			.more-info.right {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	.more-info.right {
	    min-width:300px;
	    top:50%;
	    left:100%;
	    margin-left:20px;
	    transform:translate(0, -50%);
	    padding: 15px;
	    color:#ffffff;
	    background-color:#130b28;
	    font-weight:normal;
	    border-radius:8px;
	    position:absolute;
	    z-index:99999999;
	    box-sizing:border-box;
	    box-shadow:0 1px 8px rgba(0,0,0,0.3);
	    visibility:hidden; opacity:0; transition:opacity 0.8s;
	    font-family: "Roboto";
	    i {
	    	font-style: italic;
	    	font-size: 16px;
	    }
	    p {
	    	font-size: 13px;
	    	line-height: 16px;
	    	margin: 10px 0 0;
	    	padding: 0;
	    }
	}

	.user:nth-child(even) {
		width: 20px;
		height: 20px;
	}

	.user:nth-child(odd) {
		width: 13px;
		height: 13px;
	}

	.user1 {
		left: 21%;
	}
	.user2 {
		left: 11%;
    	top: 14%;
	}
	.user3 {
		left: 39%;
		top: 1%;
	}
	.user4 {
	    left: -6%;
	    top: 27%;
	}
	.user5 {
		left: 54%;
		top: 12%;
	}
	.user6 {
		left: 83%;
	}
	.user7 {
		left: 14%;
		top: 16%;
	}
	.user8 {
		left: 44%;
		top: 14%;
	}
	.user9 {
		left: 26%;
		top: 1%;
	}
	.user10 {
		left: 11%;
		top: 30%;
	}
	.user11 {
		left: 76%;
    	top: 18%;
	}
	.user12 {
		left: 60%;
		top: 20%;
	}

}

.overlay {
  background: #39086b; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #39086b 0%, #230544 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #39086b 0%,#230544 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #39086b 0%,#230544 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39086b', endColorstr='#230544',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  visibility: visible;
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  overflow: hidden;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  h1 {
  	text-transform: uppercase;
  	letter-spacing: 1.5px;
  	margin-bottom: 5px;
  }
  h1, p {
  	font-family: "Roboto";
  	color: #ffffff;
  	text-align: center;
  	font-weight: 300;
  }
  p {
  	font-size: 12px;
  }
}

.double-bounce1, .double-bounce2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.spinner {
	height: 40px;
    width: 40px;
    position: relative;
    margin-top: 20px;
}

.box {
	display: flex;
	width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 500px;
    img {
    	max-width: 100px;
    	margin-bottom: 20px;
    }
}

.hide-load {
	opacity: 0;
  visibility: hidden;
}

.chapter-container {
	overflow: hidden;
	&.allow-scroll {
		overflow: scroll;
	}
}
