/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  width: 100%;
  margin: 0;
}

#bm {
  width: 100%;
  height: 300px;
}

@keyframes lines {
	0%{background-position: 0 0;}
	100%{background-position: 0 -1000px;}
}

@keyframes lineshorizontal {
	0%{background-position: 0 0;}
	100%{background-position: -1000px 0;}
}

@keyframes showLineByLine {
	100% {
		opacity: 1;
	}
}

.container {
	height: 100%;
	font-family: "Spectral";
	background-color: #230544;
	background-image: url(../images/background2.png);
	background-size: cover;
	animation: lines 10s linear infinite;
	p,
	label,
	input,
	a {
		font-size: 15px;
		margin-top: 35px;
		line-height: 20px;
		padding: 0 20px;
		color: #ffffff;
		font-family: "Roboto", sans-serif;
		font-weight: 300;
	}

	.intro {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 0 50px;
		color: #ffffff;
		width: 540px;
		height: 540px;
		border-radius: 50%;
		margin-top: 70px;
	}

	&.poetry {
		background-color: #005366;
		background-image: none;
		.intro {
			width: 740px;
			a {
				margin-top: 105px;
			}
		}
		h1 {
			font-size: 75px;
    		font-weight: 700;
		}
		h2 {
			font-size: 40px;
		    font-weight: 600;
		    margin-top: 40px;
		}

		.poem {
			display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
			p {
				font-family: "Spectral";
				font-size: 20px;
				line-height: 25px;
				margin: 200px 0;
			}

			.part {
				height: 100vh;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				ul {
					opacity: 0;
					font-family: "Spectral";
					font-size: 20px;
					line-height: 25px;
					margin: 200px 0;
					color: #ffffff;
				}
	
				&.show li {
					animation: showLineByLine 1.5s ease forwards;
				}
	
				&.show li:nth-child(2) {
					animation-delay: 0.7s;
				}
	
				&.show li:nth-child(3) {
					animation-delay: 1.4s;
				}
	
				&.show li:nth-child(4) {
					animation-delay: 2.1s;
				}
			}
		}
	}
	
	&.chapter1 {
		.horizontal-menu span {
			position: absolute;
    		top: -4px;
			&:before {
				content: "";
			    background: url(../images/arrow-menu.png);
			    width: 23px;
			    height: 29px;
			    position: relative;
			    display: block;
			}
		}
	}

	&.chapter2 {
		background-color: #001e4f;
		.chapter {
			background-color: #001e4f;
		}
		.poems-nav {
			display: flex;
		}
	}

	&.chapter3 {
		background-color: #26073d;
		.chapter {
			background-color: #26073d;
		}
	}

	nav {
    	width: 73%;
    	margin: 0 auto;
	}

	.horizontal-menu {
		background: url(../images/bg-menu.png) no-repeat center;
		display: flex;
    	justify-content: space-between;
    	margin: 70px auto;
    	position: relative;
		li {
			display: inline-block;
			a {
				text-decoration: none;
				opacity: 0;
				font-size: 12px;
				position: relative;
    			top: -30px;
    			padding: 20px 0;
			}
		}
		span {

		}
		&:hover {
			li {
				a {
					opacity: 1;
				}
			}
		}
	}

	form {
		display: flex;
		flex-direction: column;
	}

	label {
		padding: 0 40px;
		margin: 35px 0;
	}

	input[type="text"] {
		background-color: transparent;
		border: none;
		width: 380px;
		background: url(../images/bg-form.png) no-repeat;
    	background-position: bottom;
    	margin: 0 auto;
    	font-style: italic;
    	text-align: center;
    	&:focus {
    		outline: 0;
    	}
	}

	.ignore,
	.back-home,
	.start-reading {
		font-size: 12px;
	}

	.start-reading {
		background: url(../images/button.png) center no-repeat;
		height: 48px;
		width: 174px;
		display: flex;
	    align-items: center;
	    justify-content: center;
	    text-transform: uppercase;
	    text-decoration: none
	}

	.hidden {
		display: none;
	}
}

.sound {
	background: url(../images/sound.png) no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 60px;
	left: 90%;
	background-size: contain;
}

.chapter {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 100%;
	background-color: #005366;
	background-image: url(../images/background31.png);
	animation: lineshorizontal 20s linear infinite;
	background-size: cover;
	height: 100vh;
}

.home {
	background: url(../images/bg-logo.png) no-repeat;
    background-position: center;
	background-size: contain;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 100%;

	h1 {
		text-transform: uppercase;
		font-size: 28px;
		font-weight: 600;
	}
	a {
		text-decoration: none;
		color: #ffffff;
	}
	h2,
	p,
	small,
	label {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
	}
	h2 {
		font-size: 18px;
	}
	small {
		font-size: 9px;
		margin: 15px 0 35px;
	}
	img {
		margin-bottom: 20px;
	}
}

.guestbook {
	background: url(../images/bg-logo.png) no-repeat;
    background-position: center;
	background-size: contain;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 1000px;
}

.next {
	background: url(../images/nav-btn.png) no-repeat;
	background-position: center;
	height: 50px;
	width: 50px;
	display: block;
}

.next.top {
	transform: rotate(180deg);
}

.next.left {
	transform: rotate(270deg);
}

.next.right {
	transform: rotate(90deg);
}

.tooltip {
	display: inline-block;
    position: relative;
    background: url(../images/bg-tooltip.png) no-repeat;
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    left: 5px;
    background-size: contain;
}

.tooltip .right {
    min-width:300px; 
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding: 8px;
    color:#ffffff;
    background-color:#130b28;
    font-weight:normal;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.3);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
    p {
    	font-size:11px;
    	line-height: 16px;
    	margin: 0;
    }
}

.tooltip:hover .right {
    visibility:visible; opacity:1;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#130b28;
    box-shadow:0 1px 8px rgba(0,0,0,0.3);
}

.main-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 70px;
	a:not(.back-home) {
		width: 47px;
		height: 47px;
		display: inline-block;
		margin: 0;
		padding: 0 8px;
	}
	.fb {
		background: url(../images/fb.png) no-repeat center;
		background-size: contain;
	}
	.tw {
		background: url(../images/tw.png) no-repeat center;
		background-size: contain;
	}
	.wpp {
		background: url(../images/wpp.png) no-repeat center;
		background-size: contain;
	}
}